/*Changes at down */
html,
body {
    font-family: 'Open Sans', sans-serif !important;
    /* background: #71D6C6 !important; */
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #009D64 !important;
    background-color: #8FEDBF !important;/*Sets the text hover color on navbar*/
    border-color: #8FEDBF !important;
    border-radius: 35px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #71D6C6 !important; /*BACKGROUND color for active*/
    background-color: #009D64 !important;
    background-image: none;
    border-radius: 35px;
}


.navbar-default {
    background-color: #05C07D;
    border-color: #05C07D;
}

.container-fluid {
    background-color: #05C07D;
}

.navbar-brand {
    color: #FFF !important;
}

.form-control:focus
{
    border-color: #05C07D;
    webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #2ac7ae;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #2ac7ae;
    border-width: 2px;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #66CCFF;  /*change color of links in drop down here*/
}

/*.nav > li > a:hover,
.nav > li > a:focus {
   text-decoration: none;
   background-color: silver; /*Change rollover cell color here*/
/*}*/

/*.navbar-default .navbar-nav > li > a:active
{
    background-color: white;
        color: blue;

} */  


/* Changes here new body*/
body {
    background-image: url(/GradeYourCode/img/bn4.jpg) !important;
    background-repeat: no-repeat;
	/*background-position: left top, right bottom;*/
	background-color: #71D6C6 !important;
	background-attachment:fixed !important;
	background-size: cover !important;
}



.navbar-default .navbar-nav > li > a {
    color: white !important; /*Change active text color here*/
    margin-left: 5px;
}

h1, h2, h3 {
    font-family: Britannic Bold !important;
}


td > a 
{
    font-weight: bold;
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, #05C07D 0%, #068E5D 100%);
  background-image:      -o-linear-gradient(top, #05C07D 0%, #068E5D 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#05C07D), to(#068E5D));
  background-image: linear-gradient(to bottom, #05C07D 0%, #068E5D  100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff2d6ca2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #068E5D;
}

.btn-primary:active {
     background-color: #05C07D ;
     border-color: #068E5D;
}

.btn-primary:hover, .btn-primary:focus {
     background-color: #068E5D ;
     border-color: #068E5D ;
}

.main {
     background: #05C07D !important;
}

.aside-1 {
     background: #8FEDBF !important;
}

.aside-2 {
     background: #8FEDBF !important;
}